.createButton {
    padding: 8px 16px;
    background-color: #0fb84d; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s;
}
  
.createButton:hover:not(:disabled) {
    background-color: #096b2b; 
}

.createButton:disabled {
    background-color: #999;
    cursor: not-allowed;
}